.BeginModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.4);
}

.begin-modal-content {
  margin: 50% auto;
}

.begin-btn {
  background-color: #ec1c24;
}

.begin-btn:hover {
  background-color: #b81318;
}
