.GameLevel {
  text-align: center;
  cursor: pointer;
  position: relative;
}

.marker {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.clickBox-container {
  position: absolute;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.clickBox {
  border: 2px var(--main-red) solid;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  z-index: 2;
}

#char-select-form {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px var(--main-red) solid;
  display: flex;
  flex-direction: column;
  background-color: #ffffff85;
  font-weight: bold;
}

select {
  margin: 0.3rem 0rem;
  padding: 0.3rem 0rem;
}

#char-select-btn {
  height: 1.8rem;
  font-size: 0.8rem;
}
