.InfoBar {
  width: 1000px;
  margin: 0 auto;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 3rem;
}

.info-left {
  display: flex;
  align-items: center;
}

.infobar-title {
  margin-right: 2rem;
}

.chars {
  display: flex;
}

.char {
  text-align: center;
}

.found {
  opacity: 0.5;
}

.char-img-container {
  width: 50px;
  height: 70px;
  position: relative;
  margin: 1rem;
}

.char-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.checkMark {
  z-index: 1;
  position: absolute;
  top: 25%;
}

.checkMark > img {
  width: 50px;
  height: 55px;
}

.info-right {
  width: 300px;
}

.score {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.timer-title {
  width: 50px;
}
#currentScore {
  width: 5rem;
  display: flex;
}

#currentScore > * {
  padding: 0;
}
