/* Main container */

.container {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */

header {
  width: 1000px;
  margin: 0 auto;
  padding: 1rem 0rem;
  margin-bottom: 1rem;
  border-bottom: 1px #d9d9d9 solid;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 65px;
  padding-right: 2rem;
}

.tallies {
  display: flex;
  align-items: center;
}

.tallies > * {
  margin: 0 0.5rem;
  display: flex;
}
.mr-1 {
  margin-right: 0.5rem;
}

.bold {
  font-weight: bold;
}

/* Main content */

main {
  height: 100%;
}

/*  Button */

.btn {
  outline: none;
  border: none;
  background-color: #ec1c2485;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #ec1c24;
}

a {
  color: #ec1c24;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer */

footer {
  padding: 0.5rem 0;
  font-size: 0.8rem;
  text-align: center;
}
