.WinModal {
  border: 2px var(--main-red) solid;
  background-color: white;
  border-radius: 20px;
  z-index: 1;
  overflow: auto;
  position: fixed;
  left: calc(50% - 307px);
  top: calc(50% - 240px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-red);
  padding-bottom: 2rem;
}

.close-modal {
  font-size: 2rem;
  margin-top: -1rem;
  cursor: pointer;
}

.WinModal > p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.WinModal > form {
  padding: 1rem 0rem;
}

#username {
  border: 2px solid var(--main-red);
  outline: none;
  border-radius: 10px;
  height: 40px;
  margin-right: 2rem;
  padding: 0rem 1rem;
}
